<RadSideDrawer #menuDrawer drawerLocation="Right">
    <GridLayout rows="*" tkDrawerContent class="sideStackLayout">
        <ListView [items]="navItems" (itemTap)="onItemTap($event)" class="sideBarList">
            <ng-template let-navItem="item">
                <StackLayout orientation='horizontal' class="menuItem">
                    <Label class="menuIcon fa" [text]='navItem.icon'></Label>
                    <Label class="menuText" [text]='navItem.title'></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
    <StackLayout tkMainContent class="page">
        <ActionBar [title]="title" icon="" class="action-bar">
            <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
            <ActionItem class="fa" (tap)="openMenu()" ios.position="right" android.position="actionBar" icon="res://hamburger"></ActionItem>
        </ActionBar>
        <ScrollView>
            <ng-content></ng-content>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>