<RadSideDrawer>
    <GridLayout rows="*" tkDrawerContent class="sideStackLayout">
        <ListView [items]="navItems" (itemTap)="onItemTap($event)">
            <template let-navItem="item">
                <StackLayout orientation='horizontal'>
                    <Label class="fa" [text]='navItem.icon | fonticon'></Label>
                    <Label [text]='navItem.title'></Label>
                </StackLayout>
            </template>
        </ListView>
    </GridLayout>
    <StackLayout tkMainContent>
           <ng-content></ng-content>
    </StackLayout>
</RadSideDrawer>