<RadSideDrawer class="page">
    <GridLayout rows="*" tkDrawerContent class="sideStackLayout">
        <ListView [items]="navItems" (itemTap)="onItemTap($event)" class="sideBarList">
            <template let-navItem="item">
                <StackLayout orientation='horizontal' class="menuItem">
                    <Label class="menuIcon fa" [text]='navItem.icon | fonticon'></Label>
                    <Label class="menuText" [text]='navItem.title'></Label>
                </StackLayout>
            </template>
        </ListView>
    </GridLayout>
    <StackLayout tkMainContent>
           <ng-content></ng-content>
    </StackLayout>
</RadSideDrawer>