.menu {

}

.sideBarList {
    background-color: #406887;
    separator-color: transparent;
    color: #ffffff;

    .menuItem {
        padding: 10 20 10 20;

        .menuIcon {
            padding-top: 2;
            padding-right: 10;
            font-size: 25;
        }

        .menuText {
            font-size: 20;
        }
    }
}