<menu title="Character Profile">
    <StackLayout class="card">
        <Label [text]="character?.CharacterName" textWrap="true" horizontalAlignment="center"></Label>
        
        <GridLayout class="character-summary" rows="55, 55, auto" columns="110, 55, *" height="auto">
            <!-- row 0 -->
            <Image #characterImage row="0" col="0" rowSpan="2" ></Image>
            <Image #corpImage row="0" col="1" ></Image>
            <StackLayout row="0" col="2">
                <Label class="label" text="Corporation" textWrap="true"></Label>
                <Label [text]="corpInfo?.corporation_name" textWrap="true"></Label>
            </StackLayout>
            <!-- row 1 -->
            <Image #allianceImage row="1" col="1" ></Image>
            <StackLayout *ngIf="allianceInfo" row="1" col="2">
                <Label class="label" text="Alliance" textWrap="true"></Label>
                <Label [text]="allianceInfo?.alliance_name" textWrap="true"></Label>
            </StackLayout>
            <!-- row 2 -->
            <GridLayout row="2" col="0" colSpan="3" rows="auto" columns="*, *">
                <Label [text]="walletInfo?.balance | isk" row="0" col="0" textWrap="true"></Label>
                <!--<Label text="Alliance2" row="0" col="1" textWrap="true"></Label>-->
            </GridLayout>
        </GridLayout>
    </StackLayout>
</menu>
